# Python virtual environment
env/
venv/

# Environment variables
.env

# Jupyter Notebook checkpoints
#.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# VS Code settings (optional)
.vscode/

# OS files
.DS_Store
